main {
    display: grid;
    grid-template-areas: "auftrag auftrag kunde" "schritte schritte schritteAdd" "posten posten posten" "fahrzeuge farben preis" "postenadd postenadd produkt" "step upload verlauf";
}

aside {
    grid-area: kunde;
}

.auftragsinfo {
    grid-area: auftrag;
}

.schritte {
    grid-area: schritte;
}

.posten {
    grid-area: posten;
}

.fahrzeuge {
    grid-area: fahrzeuge;
}

.farben {
    grid-area: farben;
}

.preis {
    grid-area: preis;
}

.postenadd {
    grid-area: postenadd;
}

.produkt {
    grid-area: produkt;
}

.step {
    grid-area: step;
}

.schritteAdd {
    grid-area: schritteAdd;
}

.description {
    grid-area: description;
}

.verlauf {
    grid-area: verlauf;
}

.description {
    grid-area: description;
}

.columnLeistung {
    flex: 50%;
}

#gesamtpreis {
    font-size: 3rem;
}

.farbe {
    width: 20px;
    height: 20px;
    border-radius: 6px;
}

@media (max-width: 850px) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "auftrag auftrag"
            "kunde kunde"
            "schritte schritteAdd"
            "posten posten"
            "fahrzeuge farben"
            "preis preis"
            "postenadd postenadd"
            "produkt produkt"
            "step step"
            "upload verlauf";
    }
}

@media (max-width: 500px) {
    main {
        display: grid;
        max-width: 95vw;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "auftrag"
            "kunde"
            "schritte"
            "schritteAdd"
            "posten"
            "fahrzeuge"
            "farben"
            "preis"
            "postenadd"
            "produkt"
            "step"
            "upload"
            "verlauf";
    }
}
