.ajaxBox {
    position: absolute;
    border: 1px solid black;
    border-radius: 12px;
    background: white;
    padding: 25px;
}

#htmlForAddingAttributes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.selectedAttList {
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 2px;
    padding: 2px;
}
