.product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product-preview {
    border: 1px solid grey;
    border-radius: 6px;
    margin: 20px;
    padding: 15px;
}

.ajaxBox {
    position: absolute;
    border-radius: 6px;
    background: white;
    padding: 25px;
    box-shadow: 3px 4px 8px 3px rgba(0,0,0,0.31);
    z-index: 2;
}

#htmlForAddingAttributes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.selectedAttList {
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 2px;
    padding: 2px;
}
