.fastUpload {
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    height: 200px;
    background: white;
    border-top: 1px solid black;
}

.notUpdated, #yellow {
    background: rgb(255, 203, 119);
}

.inShop, #green {
    background: rgb(111, 207, 65);
}
