/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 0.5px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

.slider.round:before {
    border-radius: 50%;
}

.cont {
    background-color: grey;
    padding: 10px;
    margin: 10px;
}

.cont1 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cont2 {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.cont2 .right {
    float: right;
}

.cont2 section div {
    margin: 10px;
}

.pointer-none {
    pointer-events: none;
}

/* class for round + button */
.addToTable {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    border: none;
    box-shadow: 1px 0px 5px 0px grey;
    font-weight: bold;
    color: grey;

    margin-top: -10px;
}

.align-center {
    text-align: center;
}

.align-center table {
    text-align: left;
}

.contentEditable {
    border: 1px dashed grey;
}

.imageBig {
    width: 200px;
    height: auto;
}

.imagePrev {
    width: 75px;
    height: auto;
}

#initHeight {
    width: 50px;
}

.inputHeight {
    border: none;
    width: 50px;
    margin: inherit;
    background: inherit;
    font-size: inherit;
    font-family: inherit;
}

/* css loader */
#productLoader-a, #productLoader-w, #productLoader-t {
    display: none;
    top: -6px;
}

.loaderOrSymbol * {
    display: inline-block;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.imageBigContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imageTypes {
    background-color: white;
    border-radius: 6px;
    padding: 7px;
}

.imageTypes label {
    display: block;
    margin: 10px;
}

.imageTypes input {
    float: right;
}

.imageContainer {
    margin-top: 10px;
}

.imageContainer img {
    padding: 7px;
}

.breiten {
    display: block;
    width: 100px;
}

.breiten span {
    float: right;
}

#previewSizeText{
    text-align: left;
}

#svgContainer {
    width: 458px;
}