/* css loader */
.loaderOrSymbol * {
    display: inline-block;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pHeading {
    font-weight: bold;
}

.productLoader {
    display: none;
    top: -6px;
}

.fastUpload {
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    position: fixed;
    height: 200px;
    background: white;
    border-top: 1px solid black;
}

.showBox {
    border-radius: 0;
    border: none;
    width: 60px;
    height: 20px;
}

.notUpdated, #yellow {
    background: rgb(255, 203, 119);
}

.inShop, #green {
    background: rgb(111, 207, 65);
}
