.breiten {
    display: block;
    width: 120px;
}

.breiten span {
    float: right;
}

#delete-menu {
    position: fixed;
    z-index: 10000;
    width: 150px;
    background-color: white;
    border-radius: 6px;
    display: none;
}

#delete-menu.visible {
    display: block;
}

#delete-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: #444444;
    cursor: pointer;
    border-radius: inherit;
}

#delete-menu .item * {
    vertical-align: middle;
    margin-right: 10px;
}

#delete-menu .item:hover {
    background: #fafafa;
}

.bookmarked {
    color: #dfa63d;
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.colorBtn {
    border: none;
    border-radius: 0;
    width: 20px;
    height: 20px;
}

.imageMovableContainer {
    overflow-x: scroll;
    height: 100px;
}

.imageMovable {
    background-color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
    cursor: move;
}

.imgPreview {
    height: 32px;
    width: auto;
}

.paddingDefault ul, .paddingDefault li {
    list-style-type: disc;
    padding-left: revert;
}

.selectedCategory {
    color: blue;
}

.iconGenerate {
    background: inherit;
    border: none;
    vertical-align: middle;
    cursor: pointer;
}
