# ide and editor files
.vs
.vscode
.VSCodeCounter
auftragsbearbeitung.code-workspace
.DS_Store

# settings and config files
.env
node_modules
vendor
var

.php-cs-fixer.cache

# minimized files and tests
public/res/assets/*
public/cypress/*

# docker explicit
.git
.github
.gitignore
docker-compose*.yml
storage
database/legacy_sql
database/versions

.config/*
!.config/crontab
!.config/cypress.config.ts
!.config/php.conf
!.config/php/*
!.config/.env.example
!.config/postcss.config.ts
!.config/vite.config.ts
!.config/nginx/*
!.config/docker-entrypoint.sh

Makefile

#misc
public/assets/forms/modules/sticker/catalog_products.csv
.git.bfg-report
README.md
.build
