# ide and editor files
.vs
.vscode
.VSCodeCounter
auftragsbearbeitung.code-workspace
.DS_Store

# settings and config files
.htaccess
.env
node_modules
vendor
var

.php-cs-fixer.cache

public/res/js/classes/tableconfig.js

# minimized files
public/res/assets/*

# docker explicit
.git
.github
docker-compose*.yml
storage
database/legacy_sql
database/versions

.config/*
!.config/install
!.config/crontab
!.config/php-config.ini
!.config/php.conf
!.config/.env.example
!.config/postcss.config.ts
!.config/tailwind.config.ts
!.config/vite.config.ts
!.config/nginx/*

docker-compose.yml
Makefile

#misc
public/assets/forms/modules/sticker/catalog_products.csv
.git.bfg-report
README.md
.build