settings.php
.htaccess

files/generated/*
!files/generated/index.php

!files/generated/sql_backups/
files/generated/sql_backups/*
!files/generated/sql_backups/index.php

!files/generated/invoice/
files/generated/invoice/*
!files/generated/invoice/index.php

files/res/js/min/*
!files/res/js/min/index.php

files/res/css/min/*
!files/res/css/min/index.php

!img/
img/*
!img/default_image.png
!img/favicon.png

upload/*
!upload/index.php

favicon.ico
.vs/
.vscode/
.VSCodeCounter
auftragsbearbeitung.code-workspace
cache/*
!cache/index.php
.DS_Store
vendor