# ide and editor files
.vs/
.vscode/
.VSCodeCounter
auftragsbearbeitung.code-workspace
.DS_Store

# settings and config files
.htaccess
.env
node_modules
vendor
.config/install/install.lock
var

# config
.config/apiKeys/*
!.config/apiKeys/.gitkeep

.config/certs/*
!.config/certs/openssl.cnf

.php-cs-fixer.cache

# table config
public/res/js/classes/tableconfig.js

# minimized files
public/res/assets/*

# storage
storage/upload/*
!storage/upload/.gitkeep

storage/logs/*
!storage/logs/.gitkeep

storage/generated/*
!storage/generated/.gitkeep

storage/cache/*
!storage/cache/.gitkeep

# misc
publics/assets/forms/modules/sticker/catalog_products.csv
.git.bfg-report
public/assets/img/favicon.ico
public/assets/img/favicon.png
.build/
