services:
  web:
    image: ghcr.io/maxbrennemann/auftragsbearbeitung/web-base:latest
    restart: always
    depends_on:
      - php
    networks:
      - internal
      - edge
  
  php:
    image: ghcr.io/maxbrennemann/auftragsbearbeitung/php-base:latest
    expose:
      - "9000"
    environment:
      VIRTUAL_HOST: ${DOMAIN}
      LETSENCRYPT_HOST: ${DOMAIN}
      LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
      DB_HOST: database
      REWRITE_BASE: https://${DOMAIN}/
      WEB_URL: https://${DOMAIN}/
      SUB_URL: ""
    volumes:
      - storage_data:/var/www/html/storage
      - ./.env:/var/www/html/.env
    networks:
      - internal

  database:
    image: mariadb:12
    environment:
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USERNAME}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - internal

volumes:
  db_data:
  storage_data:

networks:
  internal:
    driver: bridge
  edge:
    external: true
