services:
  nginx:
    image: nginx:1.29.2
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./:/var/www/html/:ro
      - ./.config/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./.config/nginx/security-headers.dev.conf:/etc/nginx/conf.d/security-headers.conf
      - ./.config/certs:/etc/nginx/certs
    depends_on:
      - php

  php:
    build:
      context: .
      dockerfile: .config/Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
    volumes:
      - ./:/var/www/html/
      - ./.config/php/php.ini:/usr/local/etc/php/conf.d/99-custom.ini
      - ./.config/php.conf:/usr/local/etc/php-fpm.d/zz-custom.conf
      - ./.config/xdebug/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    expose:
      - 9000
      - 9003

  cron:
    image: auftragsbearbeitung/php-base
    command: sh -c "chmod 0644 /etc/cron.d/php-cron && crontab /etc/cron.d/php-cron && cron && tail -f /var/log/cron.log"
    volumes:
      - ./:/var/www/html/
      - ./.config/crontab:/etc/cron.d/php-cron
    profiles:
      - donotstart

  database:
    image: mariadb:12
    ports:
      - "3306:3306"
    command: --lower_case_table_names=1
    environment:
      MYSQL_KEY_BUFFER_SIZE: 16M
      MYSQL_READ_BUFFER_SIZE: 2M
      MYSQL_SORT_BUFFER_SIZE: 1M
      MARIADB_DATABASE: ${DB_DATABASE}
      MARIADB_USER: ${DB_USERNAME}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}

  phpmyadmin:
    depends_on:
      - database
    image: phpmyadmin/phpmyadmin
    ports:
      - '8080:80'
    environment:
      PMA_HOST: database
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      UPLOAD_LIMIT: 300M
