# phpstan.neon
parameters:
  level: 2
  paths:
    - classes
    - helpers
    - index.php

  excludePaths:
    analyse:
      - files/*

  tmpDir: var/phpstan
  parallel:
    maximumNumberOfProcesses: 2

  phpVersion: 80400

  reportUnmatchedIgnoredErrors: true

  bootstrapFiles:
    - .config/stubs/constants.stub.php
