# phpstan.neon
parameters:
  level: 7
  paths:
    - classes
    - src
    - public/index.php

  excludePaths:
    analyse:
      - files/*

  tmpDir: var/phpstan
  parallel:
    maximumNumberOfProcesses: 2

  phpVersion: 80400

  reportUnmatchedIgnoredErrors: true

  bootstrapFiles:
    - .config/stubs/constants.stub.php
    - .config/stubs/types.stub.php
