name: Auftragsbearbeitung Build

on:
  push:
    branches:
      - main
      - development

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: docker-container
          driver-opts: network=host
          buildkitd-flags: --debug
          use: true

      - name: Build and push PHP image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .config/Dockerfile.prod
          push: true
          builder: ${{ steps.buildx.outputs.name }}
          cache-from: type=registry,ref=ghcr.io/maxbrennemann/auftragsbearbeitung/php-base:cache
          cache-to: type=registry,ref=ghcr.io/maxbrennemann/auftragsbearbeitung/php-base:cache,mode=max
          tags: |
            ghcr.io/maxbrennemann/auftragsbearbeitung/php-base:latest
            ghcr.io/maxbrennemann/auftragsbearbeitung/php-base:${{ github.sha }}

      - name: Build and push Web image (optional)
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .config/nginx/Dockerfile.prod
          push: true
          builder: ${{ steps.buildx.outputs.name }}
          cache-from: type=registry,ref=ghcr.io/maxbrennemann/auftragsbearbeitung/web-base:cache
          cache-to: type=registry,ref=ghcr.io/maxbrennemann/auftragsbearbeitung/web-base:cache,mode=max
          tags: |
            ghcr.io/maxbrennemann/auftragsbearbeitung/web-base:latest
            ghcr.io/maxbrennemann/auftragsbearbeitung/web-base:${{ github.sha }}
